
@font-face {
  font-family: 'EarthOrbiterDeep3D';
  src: url('EarthOrbiterDeep3D.eot?#iefix') format('embedded-opentype'),  url('EarthOrbiterDeep3D.woff') format('woff'), url('EarthOrbiterDeep3D.ttf')  format('truetype'), url('EarthOrbiterDeep3D.svg#EarthOrbiterDeep3D') format('svg');
  font-weight: normal;
  font-style: normal;
}
